<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>Global IT</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" type="text/css" href="/build/styles/style.css">
  </head>

  <body>
  <header class="header">
    <strong class="logo">
      <a class="logo__reference" href="/"></a>
    </strong>
    <div class="toggler">
      <button id="showhide" class="toggler__item" type="button" name="button">
        <svg class="icon icon-hamburger">
          <use xlink:href="/images/symbol-defs.svg#icon-hamburger"></use>
        </svg>
      </button>
    </div>
    <nav class="nav">
      <a class="nav__item" href="<%= services_url %>">Services</a>
      <a class="nav__item" href="<%= works_url %>">Works</a>
      <a class="nav__item" href="<%= team_url %>">Team</a>
      <a class="nav__item" href="<%= careers_url %>">Career</a>
      <a class="nav__item-action" id="talkbutton" href="#">Let's Talk</a>
    </nav>
  </header>

  <div class="wrapper">
    <section class="jumbotron">
      <div class="jumbotron__text-block">
        <h2 class="jumbotron__title">We believe
          <br>
          in the power of innovations</h2>
        <p class="jumbotron__text">
          Global IT is a total supplier of IT and we perform everything from graphic design to advatnced web
          solutions, apps and mobile solutions. We are rapidly growing IT company, with offices in Bergen, Norway
          and Lviv, Ukraine.
        </p>
        <p class="jumbotron__text">
          Global IT`s vision is to be a global and modern consulting company within software development and web
          design. We also have a goal to stand out from traditional web consultancies, offering an innovative and
          creative perspective on projects.
        </p>
      </div>
    </section>

    <section class="features">
      <div class="features__list">
        <div class="features__item">
          <div class="features__icon-wrapper">
            <svg class="icon icon-betting">
              <use xlink:href="/images/symbol-defs.svg#icon-betting"></use>
            </svg>
            <h3 class="features__item-text">
              Digital Sport Platform</h3>
          </div>
          <div class="features__item-hover">
            <ul class="features__stack">
              <li class="features__stack-item">Fantasy sport</li>
              <li class="features__stack-item">Betting Service</li>
              <li class="features__stack-item">Whitelabel Solutions</li>
            </ul>
          </div>
        </div>
        <div class="features__item">
          <div class="features__icon-wrapper">
            <svg class="icon icon-evelopment">
              <use xlink:href="/images/symbol-defs.svg#icon-evelopment"></use>
            </svg>

            <h3 class="features__item-text">Web development</h3>
          </div>
          <div class="features__item-hover">
            <ul class="features__stack">
              <li class="features__stack-item">Angular JS</li>
              <li class="features__stack-item">Angular 2</li>
              <li class="features__stack-item">Cordova</li>
              <li class="features__stack-item">Ionic</li>
            </ul>
          </div>
        </div>
        <div class="features__item">
          <div class="features__icon-wrapper">
            <svg class="icon icon-design">
              <use xlink:href="/images/symbol-defs.svg#icon-design"></use>
            </svg>

            <h3 class="features__item-text">
              Design
            </h3>
          </div>
          <div class="features__item-hover">
            <ul class="features__stack">
              <li class="features__stack-item">Web</li>
              <li class="features__stack-item">Mobile</li>
              <li class="features__stack-item">Branding</li>
            </ul>
          </div>
        </div>
        <div class="features__item">
          <div class="features__icon-wrapper">
            <svg class="icon icon-apps">
              <use xlink:href="/images/symbol-defs.svg#icon-apps"></use>
            </svg>

            <h3 class="features__item-text">Mobile applications</h3>
          </div>
          <div class="features__item-hover">
            <ul class="features__stack">
              <li class="features__stack-item">iOS</li>
              <li class="features__stack-item">Android</li>
              <li class="features__stack-item">Cross Platform</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section class="collection">
      <div class="collection__item">

        <div class="collection__item-image-wrapper">
          <img class="collection__item-image" src="/images/jujuslogo.jpg" alt="jujuslogo">
        </div>

        <div class="collection__item-inner">
          <img class="collection__item-inner-image" src="/images/jujus_hover.jpg" alt="jujus">
          <div class="collection__item-content">
            <h3 class="collection__item-inner-title">jujus</h3>
            <div class="collection__item-inner-view">
              <img class="collection__item-roundimage" src="/images/device_jujus.jpg" alt="device_jujus">
            </div>
            <a href="#" class="collection__item-inner-earth">
              <svg class="icon icon-earth">
                <use xlink:href="/images/symbol-defs.svg#icon-earth"></use>
              </svg>
            </a>
            <ul class="collection__item-inner-stack">
              <li class="collection__item-text">
                <p>ui/ux</p>
              </li>
              <li class="collection__item-text">
                <p>mobile app</p>
              </li>
              <li class="collection__item-text">
                <p>web</p>
              </li>
            </ul>
          </div>
        </div>

      </div>

      <div class="collection__item">
        <div class="collection__item-image-wrapper">
          <img class="collection__item-image" src="/images/2morrow.jpg" alt="2morrow">
        </div>

        <div class="collection__item-inner">
          <img class="collection__item-inner-image" src="/images/2morrow_hover.jpg" alt="2morrow_hover">
          <div class="collection__item-content">
            <h3 class="collection__item-inner-title">2morrow's favourites</h3>
            <div class="collection__item-inner-view">
              <img class="collection__item-roundimage" src="/images/device_2morrow.jpg" alt="device_2morrow">
            </div>
            <a href="#" class="collection__item-inner-earth">
              <svg class="icon icon-earth">
                <use xlink:href="/images/symbol-defs.svg#icon-earth"></use>
              </svg>
            </a>
            <ul class="collection__item-inner-stack">
              <li class="collection__item-text">
                <p>e-commerce</p>
              </li>
              <li class="collection__item-text">
                <p>ui/ux</p>
              </li>
              <li class="collection__item-text">
                <p>responsive</p>
              </li>
              <li class="collection__item-text">
                <p>branding</p>
              </li>
            </ul>
          </div>
        </div>

      </div>

      <div class="collection__item">
        <div class="collection__item-image-wrapper">
          <img class="collection__item-image" src="/images/fanteam.jpg" alt="fanteam">
        </div>

        <div class="collection__item-inner">
          <img class="collection__item-inner-image" src="/images/fanteam_hover.jpg" alt="fanteam">
          <div class="collection__item-content">
            <h3 class="collection__item-inner-title">fanteam</h3>
            <div class="collection__item-inner-view">
              <img class="collection__item-roundimage" src="/images/device_fanteam.jpg" alt="fanteam_device">
            </div>
            <a href="#" class="collection__item-inner-earth">
              <svg class="icon icon-earth">
                <use xlink:href="/images/symbol-defs.svg#icon-earth"></use>
              </svg>
            </a>
            <ul class="collection__item-inner-stack">
              <li class="collection__item-text">
                <p>sport platform</p>
              </li>
              <li class="collection__item-text">
                <p>ui/ux</p>
              </li>
              <li class="collection__item-text">
                <p>responsive</p>
              </li>
              <li class="collection__item-text">
                <p>branding</p>
              </li>
            </ul>
          </div>
        </div>

      </div>

      <div class="collection__item">
        <div class="collection__item-image-wrapper">
          <img class="collection__item-image" src="/images/fantasy_norway.jpg" alt="fantasy_norway">
        </div>

        <div class="collection__item-inner">
          <img class="collection__item-inner-image" src="/images/fantasy_hover.jpg" alt="fantasy_norway">
          <div class="collection__item-content">
            <h3 class="collection__item-inner-title">fantasy norway</h3>
            <div class="collection__item-inner-view">
              <img class="collection__item-roundimage" src="/images/device_fantasy.jpg" alt="device_fantasy">
            </div>
            <a href="#" class="collection__item-inner-earth">
              <svg class="icon icon-earth">
                <use xlink:href="/images/symbol-defs.svg#icon-earth"></use>
              </svg>
            </a>
            <ul class="collection__item-inner-stack">
              <li class="collection__item-text">
                <p>ui/ux</p>
              </li>
              <li class="collection__item-text">
                <p>sport platform</p>
              </li>
              <li class="collection__item-text">
                <p>web</p>
              </li>
            </ul>
          </div>
        </div>

      </div>

      <div class="collection__item">
        <div class="collection__item-image-wrapper">
          <img class="collection__item-image" src="/images/garanti.jpg" alt="garanti">
        </div>

        <div class="collection__item-inner">
          <img class="collection__item-inner-image" src="/images/garanti-hover.jpg" alt="garanti">
          <div class="collection__item-content">
            <h3 class="collection__item-inner-title">garanti</h3>
            <div class="collection__item-inner-view">
              <img class="collection__item-roundimage" src="/images/device_garanti.jpg" alt="device_garanti">
            </div>
            <a href="#" class="collection__item-inner-earth">
              <svg class="icon icon-earth">
                <use xlink:href="/images/symbol-defs.svg#icon-earth"></use>
              </svg>
            </a>
            <ul class="collection__item-inner-stack">
              <li class="collection__item-text">
                <p>ui/ux</p>
              </li>
              <li class="collection__item-text">
                <p>web</p>
              </li>
            </ul>
          </div>
        </div>

      </div>

      <div class="collection__item">
        <div class="collection__item-image-wrapper">
          <img class="collection__item-image" src="/images/kwangl.jpg" alt="kwangle">
        </div>

        <div class="collection__item-inner">
          <img class="collection__item-inner-image" src="/images/kwangl-hover.jpg" alt="kwangle">
          <div class="collection__item-content">
            <h3 class="collection__item-inner-title">kwangle</h3>
            <div class="collection__item-inner-view">
              <img class="collection__item-roundimage" src="/images/device_kwangl.jpg" alt="device_kwangle">
            </div>
            <a href="#" class="collection__item-inner-earth">
              <svg class="icon icon-earth">
                <use xlink:href="/images/symbol-defs.svg#icon-earth"></use>
              </svg>
            </a>
            <ul class="collection__item-inner-stack">
              <li class="collection__item-text">
                <p>ui/ux</p>
              </li>
              <li class="collection__item-text">
                <p>mobile app</p>
              </li>
              <li class="collection__item-text">
                <p>web</p>
              </li>
            </ul>
          </div>
        </div>

      </div>

      <div class="collection__item__button">
        <a href="<%= works_url %>" class="collection__item__button__real">view all projects</a>
      </div>

    </section>
    <section class="approach">
      <div class="approach__content">
        <h2 class="approach__title">Approach</h2>
        <p class="approach__text">We guarantee short implementation time, efficient and user-friendly solutions. Our
          ability to conceive and deliver business solutions is based on the expertise and the processes we have
          developed through strategically
          planning, designing, developing and implementing successful projects.</p>
      </div>
      <div class="approach__list">
        <div class="approach__list-item">

          <h2 class="approach__item-title">Idea</h2>
          <p class="approach__item-text">We intend to thoroughly understand your business, so we can find the best
            solution for you. Tell us about your project, your ideas, goals and we will suggest the appropriate
            strategy.
          </p>
        </div>
        <div class="approach__list-item">
          <h2 class="approach__item-title">Functionality</h2>
          <p class="approach__item-text">We brainstorm together to figure out the best approach. We'll help you
            visualize the end result and describe it, so that everyone involved knows what we want to
            achieve.</p>
        </div>
        <div class="approach__list-item">
          <h2 class="approach__item-title">Design</h2>
          <p class="approach__item-text">
            Our design team is passionate about building best page layouts and interface elements. We guarantee
            unique and remarkable User Experience / User Interface.</p>
        </div>
        <div class="approach__list-item">
          <h2 class="approach__item-title">Development</h2>
          <p class="approach__item-text">
            We technically bring to life what we have created. Capable of thinking out of the box, we know when
            to use the latest tech tools and when to stick to the conventional stuff.</p>
        </div>
        <div class="approach__list-item">
          <h2 class="approach__item-title">Delivery</h2>
          <p class="approach__item-text">We review, test, prepare final product for delivery and make sure it’s
            ready to work.</p>
        </div>
      </div>
    </section>

    <section class="persons">

      <div class="persons__content">
        <div class="persons__inner">
          <span class="value">27</span>
          <p class="text">persons allready</p>
        </div>
        <h2 class="persons__content-title">Some Fact About Team</h2>
        <p class="persons__content-text">Our team consists of young, forward thinking and passionate people. We
          truly love what we do and love woking with our clients.</p>
        <a href="<%= team_url %>" class="persons__content-more">Meet The entire team</a>
      </div>
    </section>

    <footer class="footer">
      <form class="form">

        <h2 class="form__title">let's talk</h2>

        <div class="form__row">

          <div class="form__item">

            <input class="control-item" type="text" name="username" placeholder="name">

          </div>

          <div class="form__item">
            <input class="control-item" type="email" name="email" placeholder="e-mail">
          </div>
        </div>
        <div class="form__row">

          <textarea class="control-text"></textarea>

        </div>

        <button class="form__approve" type="submit" name="usersubmit" value="submit">Submit</button>

      </form>

      <div class="social">
        <a class="social__item" href="#">
          <svg class="icon icon-linkedin">
            <use xlink:href="/images/symbol-defs.svg#icon-linkedin"></use>
          </svg>
        </a>
        <a class="social__item" href="#">
          <svg class="icon icon-behance">
            <use xlink:href="/images/symbol-defs.svg#icon-behance"></use>
          </svg>
        </a>
        <a class="social__item" href="#">
          <svg class="icon icon-fb">
            <use xlink:href="/images/symbol-defs.svg#icon-fb"></use>
          </svg>
        </a>
        <a class="social__item" href="#">
          <svg class="icon icon-twitter">
            <use xlink:href="/images/symbol-defs.svg#icon-twitter"></use>
          </svg>
        </a>
      </div>
      <p class="copyrights">&#169 2010-2016 Global IT Development AS. All rights reserved.</p>
    </footer>
  </div>

  <div class="mobile-menu">
    <div class="mobile-menu__wrapper">

      <button class="mobile-menu__btn" id="hideshow" type="button" name="button">
        <svg class="icon icon-crossy">
          <use xlink:href="/images/symbol-defs.svg#icon-cross"></use>
        </svg>
      </button>
      <ul class="mobile-menu__list">
        <li class="mobile-menu__item">
          <a href="<%= services_url %>">Services</a>
        </li>
        <li class="mobile-menu__item">
          <a href="<%= works_url %>">Works</a>
        </li>
        <li class="mobile-menu__item">
          <a href="<%= team_url %>">Team</a>
        </li>
        <li class="mobile-menu__item">
          <a href="<%= careers_url %>">Career</a>
        </li>
        <button class="mobile-menu__item-btn" id="talkbutton1" type="button" name="button">Let's Talk</button>
      </ul>
    </div>
  </div>

  <div class="popup-wrapper">
    <div class="popup">
      <button type="button" name="closer" class="btn-close">
        <svg class="icon icon-cross">
          <use xlink:href="/images/symbol-defs.svg#icon-cross"></use>
        </svg>
      </button>
      <div class="inner-wrapper">

        <form class="form">

          <h2 class="form__title">let's talk</h2>

          <div class="form__row">

            <div class="form__item">

              <input class="control-item" type="text" name="username" placeholder="name">

            </div>

            <div class="form__item">
              <input class="control-item" type="email" name="email" placeholder="e-mail">
            </div>
          </div>
          <div class="form__row">

            <textarea class="control-text"></textarea>

          </div>

          <button class="form__approve" type="submit" name="usersubmit" value="submit">Submit</button>

        </form>

        <div class="adrress">
          <div class="adrress__item-bergen">
            <h4 class="adrress__item-info">
              Bergen Office, Norway</h4>
            <ul class="adrress__item-list">
              <li class="text-item">Kanalveien 64,</li>
              <li class="text-item">5059 Bergen</li>
              <li class="text-item">Tel: +47 56 12 30 00</li>
              <li class="text-item">post@globalit.no</li>
            </ul>
          </div>
          <div class="adrress__item-lviv">
            <h4 class="adrress__item-info">Lviv Office, Ukraine</h4>
            <ul class="adrress__item-list">
              <li class="text-item">Valova 15,</li>
              <li class="text-item">79000 Lviv</li>
              <li class="text-item">Tel: +38 067 70 71 370</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  </body>

  <script type="text/javascript" src="/build/scripts/svgxuse.js"></script>
  <script type="text/javascript" src="/build/scripts/main.js"></script>
</html>
